$font-family-base: Helvetica Neue, PingFang SC, Microsoft Yahei, 微软雅黑, STXihei, 华文细黑, sans-serif;
$font-header: PingFang SC, Lantinghei SC, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
$font-serif: Palatino, Optima, Georgia, serif;
$font-family-code: Menlo, Monaco, Consolas, Courier, monospace;

$mainColor: #3d4552;
$subColor: #4b5260;
$successColor: #13ce66;
$dangerColor: #ff4949;
$warningColor: #f7ba2a;
$bodyColor: #eef2f5;
$lineColor: #d9d9d9;
$fontColor: #1f2d3d;
$gray: #eff2f7;
$text-gray: #666;
$text-lighted: #999;


$border: 1px solid #d9d9d9;
